[Desktop Entry]
Type=Application
Name=Cloud Chromium
Exec=/usr/local/bin/vc-cloud-browser
Terminal=false
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
