[Desktop Entry]
Type=Application
Name=Cloud workspace
Exec=/usr/local/bin/vc-cloud-workspace --watch
Terminal=false
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
